body {
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
  margin: 0 10px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;